
@{
    ViewBag.Title = "About";
    
}

<headline itemid="headline"><b>About</b></headline>

<ul>
    <li><h5>Education</h5></li>

    <p>
        Lexicon, Distance
        , .NET Programmer
    </p>
    <p>
        YRGO - Gothenburg
        , Architecture Visualization
    </p>
    <p>
        Chalmers / Gothenburg University - Gothenburg
        , Systemvetenskap
    </p>

    <li><h5>Skills</h5></li>

    <p>
        Java, C#, SQL, JavaScript, Html, CSS
    </p>
    

</ul>