@{
    ViewData["Title"] = "About";

    
}

<section class="row">   
    <div class="col-sm-2 pb-3" style="min-width: 200px;">       
        <img src="~/images/shield.jpg" width="150" /><br />
        <h3>Axel Frylén</h3>
        <p> 
            Hult Åsens Väg 21<br />
            43645 Askim<br /> 
            SWEDEN<br />
            <a href="tel:+46732633082">+46732633082</a><br />
            <a href="mailto:dummy@mail.com">axel-frylen@protonmail.com</a>
        </p>
    </div>
    <div class="col-sm-6">          
        <section class="px-4 border border-top-0 border-end-0">   
            <h3 class="mb-4">About me</h3>
            <p class="mb-4">Education</p>
        </section>
        <section>
            <ul class="timeline pt-3">                
                <li>
                    <h5 class="mb-0 text-primary">Lexicon</h5>
                    <p class="text-muted py-3">
                        2022 <br /><br /> .Net Programmer 
                    </p>
                </li>
                <li>
                    <h5 class="mb-0 text-primary">Yrgo</h5>
                    <p class="text-muted py-3">
                        2017 <br /><br /> Architecture Visualization 
                    </p>
                </li>
                <li>
                    <h5 class="mb-0 text-primary">Gothenburg University / Chalmers</h5>
                    <p class="text-muted py-3">
                        2009-2012 <br /><br /> Information Systems
                    </p>
                </li>
                <li>
                    <h5 class="mb-0 text-primary">Skills</h5>
                    <p class="text-muted py-3">
                        HCI, UI/UX <br /><br /> Java, C#, SQL, JavaScript, CSS, JQuery
                    </p>
                </li>
            </ul>
        </section>
    </div>
</section>