
@{
    ViewData["Title"] = "Projects";
}

<section class="px-4">
    <h3 class="pb-2">GitHub</h3>
    <ul class="timeline pt-3">

        <li>
            <h5 class="mb-0">C# .NET</h5>
            <ul class="timeline pt-3">
                <li>
                    <p class="text-muted">
                        2022
                        <a href="https://github.com/GreenMutant/Kalkylator">
                            Calculator
                        </a><br />
                        Console Calculator.
                    </p>
                </li>
                <li>
                    <p class="text-muted">
                        2022
                        <a href="https://github.com/GreenMutant/Hangman">
                            Hangman
                        </a><br />
                        Classic Hangman console game.
                    </p>
                </li>
                <li>
                    <p class="text-muted">
                        2022
                        <a href="https://github.com/GreenMutant/xUnit">
                            xUnit Test
                        </a><br />
                        Tests using xUnit.
                    </p>
                </li>
                <li>
                    <p class="text-muted">
                        2022
                        <a href="https://github.com/GreenMutant/VendingMachine">
                            Vending Machine
                        </a><br />
                        Console Vending Machine.
                    </p>
                </li>
            </ul>
        </li>

        <li>
            <h5 class="mb-0">FrontEnd</h5>
            <ul class="timeline pt-3">
                <li>
                    <p class="text-muted">
                        2022
                        <a href="https://github.com/GreenMutant/HtmlCSS">
                            HtmlCSS
                        </a><br />
                        Travel Site made in HTML & CSS.
                    </p>
                </li>
                <li>
                    <p class="text-muted">
                        2022
                        <a href="https://github.com/GreenMutant/Sokoban">
                            Sokoban
                        </a><br />
                        Javascript game.
                    </p>
                </li>
            </ul>
        </li>
    </ul>
    <h3 class="pb-2">MVC</h3>
    <ul class="timeline pt-3">

        <li>
            <h5 class="mb-0">Backend</h5>
            <ul class="timeline pt-3">
                <li>
                    <p class="text-muted">
                        2022 <a class="nav-link" asp-controller="FeverCheck" asp-action="GetInfo">FeverCheck</a>
                        MVC-based check fever temperature.
                    </p>
                </li>
                <li>
                    <p class="text-muted">
                        2022
                        <a class="nav-link" asp-controller="GuessingGame" asp-action="SetSession">GuessingGame</a>
                        Session-based guessing game.
                    </p>
                </li>
            </ul>
        </li>
    </ul>
</section>
