@model List<Portfolio.Models.Person>


    @foreach(var item in Model){
<tr>

    <td>@Html.DisplayFor(modelItem => item.Name)</td>
    <td>@Html.DisplayFor(modelItem => item.City)</td>
    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
    <td>@Html.ActionLink("Delete", "DeletePerson", "People", new { id = item.Id })</td>
</tr>
    }
