
@{
    ViewData["Title"] = "GetInfo";
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h1>Check Fever</h1>

@if (ViewBag.Message != null)
{
                <p>@ViewBag.Message</p>


<form asp-controller="FeverCheck" asp-action="GetInfo" method="post">
    <label>Temperatur:</label>
    <input type="text" name="temp" />
    <input type="submit" pattern="[0-9]+" value="Send Info" />
</form>
}